<a href="https://colab.research.google.com/github/Geetika-Behl/Python-/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.

Dictionary is a collection which is ordered and changeable. No duplicate members.

In [9]:
#List
Fruits = ["apple","mango","litchi","banana"]
print(Fruits)
print(len(Fruits))
print(type(Fruits))
print(Fruits[1])
print(Fruits[-1])
print(Fruits[1:3])
Fruits.remove("mango")
print(Fruits)

['apple', 'mango', 'litchi', 'banana']
4
<class 'list'>
mango
banana
['mango', 'litchi']
['apple', 'litchi', 'banana']

In [20]:
#Tuple
vegetable = ('onion','potato','carrot')
print(vegetable)
print(type(vegetable))
print(len(vegetable))
print(vegetable[1])
print(vegetable[-1])
print(vegetable[1:3])

y = ('beans',)
vegetable += y #Note: remember to include a comma after the item, otherwise it will not be identified as a tuple.
print(vegetable)

x = vegetable.count('onion')
print(x)

z = vegetable.index('onion')
print(z)

('onion', 'potato', 'carrot')
<class 'tuple'>
3
potato
carrot
('potato', 'carrot')
('onion', 'potato', 'carrot', 'beans')
1
0

In [28]:
#Dictionary
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2000
}
print(Car)
x = Car.get("model")
print(x)
Car.update({"year": 2020})
print(Car)
Car["color"] = "black"
print(Car)
Car.popitem()
print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}
Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'black'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [33]:
#Set
#Note: Set items are unchangeable, but you can remove items and add new items.
set = {"ram", "shyam", "rohan", "arun"}
print(set)
set.add('raju')
print(set)
set.remove('shyam')
print(set)
set2 = {1, 2, 3}
set3 = set.union(set2)
print(set3)
set3 = set | set2 #another method for union
print(set3)

{'arun', 'ram', 'rohan', 'shyam'}
{'ram', 'rohan', 'shyam', 'arun', 'raju'}
{'ram', 'rohan', 'arun', 'raju'}
{'ram', 1, 2, 3, 'raju', 'arun', 'rohan'}
{'ram', 1, 2, 3, 'raju', 'arun', 'rohan'}

In [34]:
#Break
# break statement stop the loop before it has looped through all the items
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [35]:
#Continue
#continue statement stop the current iteration of the loop, and continue with the next
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

Pass

The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.

In [36]:
s = "geeks"
# Empty loop
for i in s:
    # No error will be raised
    pass
print(s)

geeks